@import '../theme/theme.scss';

.breadCrumb{
    color: $theme-interact;
    li{
        margin-right: 8px;
        list-style: none;
        display:inline-block;
        cursor: pointer;
    }
    a{
        margin-right: 8px;
        color: $theme-interact;
        text-decoration: none;
        display: inline-block;
        transition: color, 0.4s ease;
        cursor: pointer;
    }
    a:hover{
        color: darken($theme-interact, $amount: 10)
    }
    a:active{
        color: darken($theme-interact, $amount: 30)
    }
}

.home{
    margin-right: 8px;
    width: 25%;
}