@import '../../components/theme/theme.scss';

.orderList{
    width: 80%;
    margin:auto;
}
.listItem{
    font-size: 1.2rem;
    border: solid 1px rgb(60,60,60);
    border-radius: 8px;
    display: grid;
    height:fit-content;
    grid-template-columns: 1fr 2fr 1fr;
    list-style-type: none;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    p{
        margin:0;
        padding:20px;
        border: solid 1px rgb(60,60,60);
        border-radius: 8px;
        display: inline-block;
    }
    p:nth-child(1){
        width: 200px;
        justify-self: left;
    }

    p:nth-child(2){
        border: none;
    }

    .colored{
        color:$theme-interact;
    }
    p:nth-child(3){
        width: 200px;
        justify-self: right;
        background-color: rgb(40,40,40);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (max-width: 900px){
    .list{
        padding:0;
    }
    .listItem{
        p:nth-child(1){
            width:auto;
        }
        p:nth-child(3){
            width:auto;
        }
    }
}