@import '../theme/theme.scss';

// Movbile Navbar inspiration from: https://www.cssscript.com/pure-css-fold-out-navigation-menu/


.dropdown {
  text-decoration: none;
  z-index: 2;
  height: 100%;

  p{
    margin:0;
    padding: 4px 4px;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    margin-bottom: $margin;
    color:$theme-interact;

  }
}

.dropdownContent {
  display: none;
  min-width: 100%;
  padding: 12px;
  z-index: 2;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  height: fit-content;

  a{
    width: 100px;
    padding: 4px 4px;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    display: block;
    
  }
}


.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown a {
  cursor: pointer;
  padding: $padding;
  transition: all 0.2s ease-in-out;
  
}


.icons{
  position: relative;
  bottom: -95%;
  font-size: 2rem;
  color: $theme-light;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  gap: 8px;
  transition: all 0.3s ease;
  width: 75px;
  left: 40%;
}

.menu_shown{
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
  list-style-type: none;
  background-color:$theme-field-bg;
  color:$theme-interact;
  padding:0;
  padding-left: 16px;
  border: solid 1px $theme-interact;
  transition: all 0.3s ease;

  a {
    font-size: 1rem;
    border: none;
    text-decoration: none;
    padding:0;
    margin: 8px;
  }
  a:hover{
    color: darken($theme-interact, $amount: 10)
  }
  a:active{
      color: darken($theme-interact, $amount: 30)
  }
}

.link{
  color:$theme-interact;
  font-size: 1.3rem;
  padding:8px;
  margin:0;
}

.link:hover{
  color: darken($theme-interact, $amount: 10)
}
.link:focus{
  color: darken($theme-interact, $amount: 30)
}

.aside{
  padding:0;
  
}

