@import '../theme/theme.scss';

.footer{
    height: 10vh;
    width: 100%;
    background-color: $theme-bg;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;

    img{
        margin:auto;
        margin-top: 1%;
        width: 25%;
    }
}


@media screen and (max-width: 1200px){
    .footer{
        img{
            width: 50%;
        }
    }
}

@media screen and (max-width: 900px){
    .footer{
        img{
            width: 65%;
        }
    }
}

@media screen and (max-width: 600px){
    .footer{
        img{
            width: 80%;
        }
    }
}