@import '../../components/theme/theme.scss';

.formGrid{   
    width: 85%;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: $theme-interact;
    margin-bottom: 5%;

    h2{
        color:white;
    }

    div{
        width: 370px;
    }

    input{
        border-radius: 4px;
        margin: 8px;
        width: 340px;
        height: 50px;
        background-color: $theme-field-bg;
        border: solid 1px $theme-gray;
        color:$theme-interact;
        padding: 4px;
        font-size: 1rem;
    }

    input::placeholder{
        color:$theme-interact;
        padding-left: 8px;
    }

    .addressGrid{
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;

        div{
            input:nth-child(1){
                width: 130px;
                display:inline-grid;
            }
            input:nth-child(2){
                width: 184px;
                display:inline-grid;
            }
        }
    }
    .phoneGrid{
        align-items: baseline;
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .cardGrid{
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;

        input{
            background-color: $theme-bg-dark;
        }

        input:nth-child(3){
            width: 120px;
        }

        input:nth-child(4){
            width: 120px;
        }

        div:nth-child(2){
            margin:8px;
            background-color: $theme-field-bg;
            border-radius: 4px;
            border: solid 1px $theme-interact;
        }

        div:nth-child(3){
            margin:8px;
            background-color: $theme-field-bg;
            border-radius: 4px;
            border: solid 1px $theme-interact;

        }
    }

    .checkArea{
        display:grid;
        grid-template-columns: 0.5fr 2fr;
        gap:8px;
        align-items: center;
        justify-content: center;
        .checkbox{
            height: 30px;
            width: 30px;
            background-color:$theme-field-bg;
            border: solid 1px $theme-interact;
            border-radius: 8px;
        }
        
        .checkboxLabel{
            display:inline-block;
        }
    }

    .radioButton{
        width: 30px;
        height: 30px;
    }

    .payButton{
        background-color: $theme-interact;
        font-size: 1.3rem;
        font-weight: 700;
        color:black;
        width: 375px;
        height: 60px;
    }
}

.orderCompleteGrid{
    width: 90%;
    margin:auto;
    display: grid;
    grid-template-columns: 3fr 1fr;

    .completeContainer{
        display: grid;
        justify-items: center;
        align-items: center;
        width: 90%;
        border: solid 1px $theme-interact;

        margin-top: 2%;
        margin-bottom: 2%;

        a{
            margin:5%;
        }

        .colored{
            color: $theme-interact;
        }

        button{
            width: 400px;
            height: 50px;
            background-color: $theme-interact;
            color:black;
            font-size: 1.4rem;
            padding: 8px;
            outline: none;
            border: solid 1px black;
            border-radius: 4px;
        }

        li{
            width: 70%;
            margin:auto;
            list-style-type: none;
            p{
                display: inline-block;
                font-size: 1.2rem;
            }
        }

        ul{
            width: 100%;

            .tax{
                display:grid;
                grid-template-columns: 3fr 1fr;
                color:white;
            }
            .total{
                display:grid;
                grid-template-columns: 3fr 1fr;
                color:white;
            }
        }

        .listGridItem{
            display: grid;
            border-top: 1px solid $theme-field-bg;
            border-bottom: 1px solid $theme-field-bg;
            font-size: 1.3rem;
            grid-template-columns:0.4fr 2fr 0.6fr 1fr;
            p{
                display:inline-block;
                color:$theme-interact;
            }

            p:nth-child(1){
                color:white;
            }

            p:nth-child(3){
                color:white;
            }
        }
    
    aside{
        display: grid;
        grid-auto-rows: 1fr 1fr;
        height: fit-content;
        margin-top: 50%;
    
        div{
            display: grid;
            grid-template-columns: 1fr;
            text-align: left;
            justify-items: start;
            h3{
                font-size: 1.9rem;
                font-weight: 800;
            }
            p{
                display:block;
                padding: 8px;
                font-size: 1.5rem;
            }
        }
    }
    
    }
}

@media screen and (max-width: 1200px){

    .formGrid{
        grid-template-columns: 1fr;
    }
    .orderCompleteGrid{
        grid-template-columns: 1fr;
        
            .completeContainer{
                width: auto;
                button{
                    width: auto;
                }
                
                    .listGridItem{
                        grid-template-columns: 1fr;
                    }
            }
        aside{
            text-align:center;
        }
        }
}